body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#192d2a ;
}
.cabecalho {
    color: white;
    background-color: #0a1e1b;
    margin: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
#fotodoperfil{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 5px solid #455a57;
    background-color: white;
}
#fotodoperfil {
    transition: 0.3s ease;       
}
#fotodoperfil:hover {
    
    transform:scale(1.1);
}
.menu {
    background-color: #0a1e1b;
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.menu ul {
    list-style: none;
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 10px;
}
.menu ul a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: white;
}
.menu ul a:hover {
    background-color: #0a1e1b;
    color: white;
    border-radius: 10px;
}
.sobre, .habilidades, .projetos, .contatos {
    background-color: #0a1e1b;
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}
.projetos div{
    background-color:#192d2a ;
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
}
.contatos{
    background-color: #0a1e1b;
}
#instagram, #github, #email, #telefone{
    background-color: #283c39;
    border: 3px solid #455a57;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}
#instagram a, #github a, #email a, #telefone a{
    text-decoration: none;
    color: white;
}
#instagram a:hover, #github a:hover, #email a:hover, #telefone a:hover{
    background-color: #192d2a;
    color: white;
    border-radius: 2px; 
}
#logoinstagram{
    width: 20px;
    height: 20px;
}
#logogithub{
    width: 20px;
    height: 20px;
}#logoemail{
    width: 20px;
    height: 20px;
}
#logotelefone{
    width: 20px;
    height: 20px;
}
footer{
    background-color: #0a1e1b;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}