html{
    background-color: rgb(240, 255, 255);
    color: white;
   font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    margin: auto;
    padding: auto;
    text-align: justify;
}
header{
    background-color:#008197;
    size-adjust: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
#navegacao ul{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #1693aa;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
#navegacao ul li{
    margin: auto;
    list-style: none;
}
#navegacao ul li a{
    font-weight: bolder;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}
#navegacao ul li a:hover{
    background-color: #008197;
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}
#secao1{
    background-color: #1693aa;
    size-adjust: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;

}
#secao1 p {
    text-align: right;
}
#secao1 img {
    width:300px;
}
footer{
    background-color: black;
    size-adjust: auto;
    margin: 20px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
